@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');/*This is a comment*/
selecor{
	property:value;
	
}


#kurt{
	background-image:url(https://image.petmd.com/files/styles/863x625/public/CANS_dogsmiling_379727605.jpg?w=1920&q=75);
	width:20%;
	height: 20%;
}
#bryce{
	color:green;
	font-family:"Tiny5";
}
#kurt{
	font-family:"Bebas+Neue";
	color:indianred;
}