
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');/*This is a comment*/
selecor{
	property:value;
	
}


#kurt{
	background-image:url(img/videogames.jpg);
	width:100%;
	height: 50%;
}
#bryce{
	color:green;
	font-family:"Tiny5";
}
#body{
	/*color:indianred;*/
}